
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*About Section*@

<section class="page-section" id="AboutSection">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">
                Hakkımda
            </h2>
            <h3 class="section-subheading text-muted">
                Lorem ipsum dolor sit amet consectetur.
            </h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="~/Content/Photos/Hakkımda1.jpg" alt="...">
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="~/Content/Photos/Hakkımda2.jpg" alt="...">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Mart 2020</h4>
                        <h4 class="subheading">Tekirdağ Namık Kemal Üniversitesi'nde Beslenme ve Diyetetik Bölümü'ne girdim.</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            "Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit.
                            Sunt ut voluptatum eius sapiente
                            , totam reiciendis temporibus qui q
                            uibusdam, recusandae sit vero unde,
                            sed, incidunt et ea quo dolore laud
                            antium consectetur!"
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="~/Content/Photos/Hakkımda3.jpg" alt="...">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Mart 2020</h4>
                        <h4 class="subheading">Tekirdağ Namık Kemal Üniversitesi'nde Beslenme ve Diyetetik Bölümü'ne girdim.</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            "Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit.
                            Sunt ut voluptatum eius sapiente
                            , totam reiciendis temporibus qui q
                            uibusdam, recusandae sit vero unde,
                            sed, incidunt et ea quo dolore laud
                            antium consectetur!"
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="~/Content/Photos/Hakkımda4.jpg" alt="...">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Mart 2020</h4>
                        <h4 class="subheading">Tekirdağ Namık Kemal Üniversitesi'nde Beslenme ve Diyetetik Bölümü'ne girdim.</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            "Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit.
                            Sunt ut voluptatum eius sapiente
                            , totam reiciendis temporibus qui q
                            uibusdam, recusandae sit vero unde,
                            sed, incidunt et ea quo dolore laud
                            antium consectetur!"
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="~/Content/Photos/Hakkımda5.jpg" alt="...">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Mart 2020</h4>
                        <h4 class="subheading">Tekirdağ Namık Kemal Üniversitesi'nde Beslenme ve Diyetetik Bölümü'ne girdim.</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            "Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit.
                            Sunt ut voluptatum eius sapiente
                            , totam reiciendis temporibus qui q
                            uibusdam, recusandae sit vero unde,
                            sed, incidunt et ea quo dolore laud
                            antium consectetur!"
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

@*Gallery Section*@

<section class="page-section" id="GallerySection">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">
                Tarifler
            </h2>
            <h3 class="section-subheading text-muted">
                Lorem ipsum dolor sit amet consectetur.
            </h3>
        </div>
        <h1 class="section-subheading">
            Çorbalar
        </h1>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="gallery-item">
                        <a class="gallery-link" href="">
                            <img class="img-fluid" src="~/Content/Photos/soup1.jpg" />
                        </a>
                    </div>
                    @*<div class="gallery-caption">
                            <div class="gallery-caption-heading"></div>
                        </div>*@
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="gallery-item">
                        <a class="gallery-link" href="">
                            <img class="img-fluid" src="~/Content/Photos/soup2.jpg" />
                        </a>
                    </div>
                    @*<div class="gallery-caption">
                            <div class="gallery-caption-heading"></div>
                        </div>*@
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="gallery-item">
                        <a class="gallery-link" href="">
                            <img class="img-fluid" src="~/Content/Photos/soup3.jpg" />
                        </a>
                    </div>
                    @*<div class="gallery-caption">
                            <div class="gallery-caption-heading"></div>
                        </div>*@
                </div>
            </div>
        </div>
        <h1 class="section-subheading">
            Ana Yemekler
        </h1>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="gallery-item">
                        <a class="gallery-link" href="">
                            <img class="img-fluid" src="~/Content/Photos/AnaYemek1.jpg" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="gallery-item">
                        <a class="gallery-link" href="">
                            <img class="img-fluid" src="~/Content/Photos/AnaYemek2.jpg" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="gallery-item">
                        <a class="gallery-link" href="">
                            <img class="img-fluid" src="~/Content/Photos/AnaYemek3.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="section-subheading">
            Mezeler
        </h1>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="gallery-item">
                        <a class="gallery-link" href="">
                            <img class="img-fluid" src="~/Content/Photos/Meze1.jpg" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="gallery-item">
                        <a class="gallery-link" href="">
                            <img class="img-fluid" src="~/Content/Photos/Meze2.jpg" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="gallery-item">
                        <a class="gallery-link" href="">
                            <img class="img-fluid" src="~/Content/Photos/Meze3.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="section-subheading">
            Salatalar
        </h1>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="gallery-item">
                        <a class="gallery-link" href="">
                            <img class="img-fluid" src="~/Content/Photos/Salata1.jpg" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="gallery-item">
                        <a class="gallery-link" href="">
                            <img class="img-fluid" src="~/Content/Photos/Salata2.jpg" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="gallery-item">
                        <a class="gallery-link" href="">
                            <img class="img-fluid" src="~/Content/Photos/Salata3.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*Contact Section*@

<section class="page-section" id="ContactSection">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">
                İletişim
            </h2>
            <h3 class="section-subheading text-muted">
                Lorem ipsum dolor sit amet consectetur.
            </h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <h4 class="section-subheading">E-mail</h4>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"></span>
                    <input type="text" class="form-control" placeholder="dytyarenozkilic@gmail.com" aria-label="Username" aria-describedby="basic-addon1" disabled>
                </div>
            </div>
            <div class="row">
                <h4 class="section-subheading">Adres</h4>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"></span>
                    <input type="text" class="form-control" placeholder="Nerede mah. Yaşayacağım cd. Henüz apt. No. Belli değil" aria-label="Username" aria-describedby="basic-addon1" disabled>
                </div>
            </div>
            <div class="row">
                <h4 class="section-subheading">Telefon</h4>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"></span>
                    <input type="text" class="form-control" placeholder="0216 718 2114  /  0216 852 4158" aria-label="Username" aria-describedby="basic-addon1" disabled>
                </div>
            </div>
            <iframe class="col-lg-12 mt-4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d773.9858766035253!2d29.01767094375935!3d41.073206457933715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab64171e0d0eb%3A0x9152a6c1a85bcbb0!2zRsSxcmF0IMSwxZ8gTWVya2V6aQ!5e0!3m2!1str!2str!4v1647262626342!5m2!1str!2str" height="300" style="border:2px solid silver;" allowfullscreen=""></iframe>
        </div>
    </div>
</section>


<link href="~/Content/css/styles.css" rel="stylesheet" />