
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*About Section*@

<section class="page-section" id="AboutSection">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">
                Hakkımda
            </h2>
            <h3 class="section-subheading text-muted">
                Lorem ipsum dolor sit amet consectetur.
            </h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="~/Content/Photos/Hakkımda1.jpg" alt="...">
                </div>
            </li>
            <li class="timeline-inverted">
           
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="~/Content/Photos/Hakkımda2.jpg" alt="...">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Mart 2020</h4>
                        <h4 class="subheading">Tekirdağ Namık Kemal Üniversitesi'nde Beslenme ve Diyetetik Bölümü'ne girdim.</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            "Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit.
                            Sunt ut voluptatum eius sapiente
                            , totam reiciendis temporibus qui q
                            uibusdam, recusandae sit vero unde,
                            sed, incidunt et ea quo dolore laud
                            antium consectetur!"
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="~/Content/Photos/Hakkımda3.jpg" alt="...">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Mart 2020</h4>
                        <h4 class="subheading">Tekirdağ Namık Kemal Üniversitesi'nde Beslenme ve Diyetetik Bölümü'ne girdim.</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            "Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit.
                            Sunt ut voluptatum eius sapiente
                            , totam reiciendis temporibus qui q
                            uibusdam, recusandae sit vero unde,
                            sed, incidunt et ea quo dolore laud
                            antium consectetur!"
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="~/Content/Photos/Hakkımda4.jpg" alt="...">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Mart 2020</h4>
                        <h4 class="subheading">Tekirdağ Namık Kemal Üniversitesi'nde Beslenme ve Diyetetik Bölümü'ne girdim.</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            "Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit.
                            Sunt ut voluptatum eius sapiente
                            , totam reiciendis temporibus qui q
                            uibusdam, recusandae sit vero unde,
                            sed, incidunt et ea quo dolore laud
                            antium consectetur!"
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="~/Content/Photos/Hakkımda5.jpg" alt="...">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Mart 2020</h4>
                        <h4 class="subheading">Tekirdağ Namık Kemal Üniversitesi'nde Beslenme ve Diyetetik Bölümü'ne girdim.</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            "Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit.
                            Sunt ut voluptatum eius sapiente
                            , totam reiciendis temporibus qui q
                            uibusdam, recusandae sit vero unde,
                            sed, incidunt et ea quo dolore laud
                            antium consectetur!"
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>




<link href="~/Content/css/styles.css" rel="stylesheet" />