
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2 style="margin:100px 0 0 0 !important;">Soups Here!!</h2>

<link href="~/Content/css/styles.css" rel="stylesheet" />
